@import 'styles/flexbox-grid.scss';


html {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif
}

html, body, #root {
  padding: 0!important;
  margin: 0!important;
}

.app {
  margin-top: 5px;

}

.hidden { display: none!important;}